<h2>
    New Message
</h2>

<form method="POST" action="/new">
    <label for="author">Name:</label>
    <input type="text" id="author" name="author">

    <label for="messageText">Message:</label>
    <input type="text" id="messageText" name="messageText">

    <input type="submit" name="Send Message">
</form>