<div>
    
    <div class="info"></div>
        <span> User: <%= message.user %> </span>
        <span> Date: <%= message.added %> </span>
    </div>
    <div>
            Text: <%= message.text %>
    </div>
    
</div>